<div class="4u 12u(medium)">
  <div id="sidebar">
    <section class="widget thumbnails">
      <h3>{{side.title}}</h3>
      <div class="grid">
        <div class="row 50%">
          {% for image in side.images %}
          <div class="6u">
            <a href="{{image.link}}" class="{{image.class}}">
              <img src="{{image.src}}" alt="{{image.alt}}" />
            </a>
          </div>
          {% endfor %}
      </div>
      {% include '@atoms/button.twig' %}
    </section>
  </div>

</div>
