<div class="4u 12u(medium)">
	<section class="box feature">
		<a href="{{card.link}}" class="image featured"><img src="{{card.image}}" alt="{{card.altText}}" /></a>
		<div class="inner">
			<header>
				<h2>{{card.title}}</h2>
				<p>{{card.subtitle}}</p>
			</header>
			<p>{{card.content}}</p>
		</div>
	</section>
</div>
